* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background: #0b0712;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  max-width: 500px;
  padding: 20px;
}

h1 {
  text-align: center;
  margin-bottom: 5px;
}

.subtitle {
  text-align: center;
  opacity: 0.7;
  margin-bottom: 25px;
}

.card {
  background: #171020;
  border: 1px solid #352342;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

h2 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 18px;
  margin-bottom: 7px;
  font-size: 14px;
  opacity: 0.8;
}

input,
textarea,
select {
  width: 100%;
  padding: 13px;
  border-radius: 12px;
  border: 1px solid #44304f;
  background: #0f0a15;
  color: white;
  outline: none;
  font-size: 15px;
}

textarea {
  min-height: 110px;
  resize: vertical;
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 18px;
  border: 0;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

#start {
  background: #ffffff;
  color: #111;
}

#stop {
  background: #2b2033;
  color: white;
}

#status {
  margin-top: 20px;
  text-align: center;
  padding: 12px;
  border-radius: 10px;
  background: #0f0a15;
  color: #bca9c7;
}
